<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>{%block title%}Teknooz{%endblock%}</title>
        <meta name="viewport" content="width= device-width, initial-scale= 1">
        <meta http-equiv="X-UA Compatible">
        <link rel="stylesheet" href="../static/css/style.css" type="text/css">
        <link rel="icon" href="../static/img/news_logo.jpg" type="image/jpg">
        <script src="https://kit.fontawesome.com/c676ebde69.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <a href="" id="logo-link"><img src="../static/img/news_logo.jpg" alt="logo area" id="logo-img"></a>
            <ul class="large-screen">
                <li id="large-screen-search"><input type="search" name="search_query" value="" placeholder="search for news" id="search"><i class="fa-solid fa-magnifying-glass search"></i></li>
                <li> 
                    Filter by:
                    <select name="filter" id="filter">
                        <option value="job-stories">Job Stories</option>
                        <option value="general-stories">  General Stories</option>
                    </select>
                </li>
            </ul>
            <!-- mobile screen -->
            <ul class="mobile-screen">
                <li id="mobile-search"><input type="search" name="search_query" value="" placeholder="search for news"><i class="fa-solid fa-magnifying-glass search"></i></li>
                <li id="mobile-filter"> 
                    Filter by:
                    <select name="filter" id="filter">
                        <option value="job-stories">Job Stories</option>
                        <option value="general-stories"> General Stories</option>
                    </select>
                </li>
            </ul>
            <!-- hamburger div for mobile -->
            <div class="hamburger">
                <div class=""></div>
                <div class=""></div>
                <div class=""></div>
            </div>
        </header>
        
        {% block content%}
        <!-- contents based on the page comes in here -->
        {%endblock%}
    </body>
    <footer>
        <div class="foot-item">
            <p id="copywright"><i class="fa-solid fa-copyright"> Zechariah | 2022</i></p>
            <h5 id="socials">
                <i class="fa-brands fa-linkedin"></i><a href="https://linkedin.com/in/zechariah-adebayo" id="linkedinlink">Connect on LinkedIn</a> |
                <i class="fa-brands fa-whatsapp-square"></i><a href="https://wa.me/+2349090504817" id="whatsapp">Chat on WhatsApp</a>
            </h5>
        </div>
        <script src="../static/js/index.js"></script>
    </footer>
</html>