{% extends 'base.html'%}

{%block content%}
    <div class="news-flex-cont">
        <h2 class="heading">Hacker News</h2>
        <div class="all-news">
            <ol id="list-container">
                
            </ol>
        </div>
    </div>
{%endblock%}

<!-- <li id="list">
    <div class="latest-news">
        <p class="news-title">Title: {{item.title}}</p>
        <div class="item-details">
            <a href="{{item.url}}" id="story-url" class="news-story">Link</a>
            <p class="news-type">type: <h3 id="type-txt">{{item.type}}</h3></p>
        </div>
    </div>
</li> -->