{% extends 'base.html'%}

{%block content%}
    <div class="news-flex-cont">
        <div class="all-news">
            <ol id="list-container">
                {%for item in data%}
                    <li id="list">
                        <div class="latest-news">
                            <div class="news-title">Title: {{item.title}}</div>
                            <p class="news-story">{%if item.text%}Story:{{item.text}}{%endif%}</p>
                            <p class="news-type">type:{{item.type}}</p>
                        </div>
                    </li>
                {%endfor%}
            </ol>
        </div>
    </div>
{%endblock%}