*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
    font-weight: lighter;
}

@font-face {
    font-family: 'montserratt';
    src: url();
}

html{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    margin: auto;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
header>*{
    margin: 5px;
}
#logo{
    text-decoration: none;
    width: 30%;
    height: 20%;
    border-radius: 50%;
    cursor: pointer;
}

.large-screen{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
}
.large-screen>*{
    margin: 8px;
}
/* mobile starts here */
.hamburger>*{
    margin:3px;
    height: 3px;
    width: 20px;
    background-color:aquamarine;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.mobile-screen{
    position: absolute;
    top: 0;
    right: 700px;
    left: 0;
    transition: all 1s ease-in-out;
}

.toggle-mobile{
    right: 50px;
}

/* the news styling starts here */
.heading{/*hackernews heading*/
    margin: auto;
    font-weight: 700;
    align-self: center;
}
.news-flex-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.all-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top:3%;
    width: 80%;

}

#list{
    font-weight: 700;
    font-size: 13px;
}

.latest-news{
    background-color: aquamarine;
    width:fit-content;
    height: 50%;
    padding:10px;
    margin: 8px;
    border-radius: 15px;
    text-align: center;
    font-weight: 700;
}

.item-details{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background-color: rgb(206, 62, 10);
    color: white;
    width: 100%;
    height: fit-content;
    font-weight: 300;
    font-size: 13px;
    border-radius: 15px;
}
.item-details>*{
    margin: 5px;
}

#story-url{
    text-decoration: none;
    color: white;
    cursor: pointer;    
}