*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
    font-weight: 12px;
}

@font-face {
    font-family: 'montserratt';
    src: url();
}

html{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    margin: auto;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(206, 62, 10);
}
header>*{
    margin: 5px;
}
#logo{
    text-decoration: none;
    width: 30%;
    height: 20%;
    border-radius: 50%;
    cursor: pointer;
}

.large-screen{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
}
.large-screen>*{
    margin: 8px;
}
/* mobile starts here */
.hamburger>*{
    margin:2px;
    height: 3px;
    width: 20px;
    background-color:aquamarine;
}
.hamburger{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mobile-screen{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 200px;
    padding: 20px;
    color: black;
    list-style: none;
    position: absolute;
    top: 0;
    left: -9;
    right: 800px;
    transition: all 1s ease-in-out;
    background-color: aquamarine;
    border: solid 2px rgb(206, 62, 10);
}
#mobile-filter{
    display: flex;
    flex-direction: column;
}
#large-screen-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mobile-search>*, #large-screen-search>*{
    margin: 4px;
}
.toggle-mobile{
    right: 140px;
}

/* the news styling starts here */
.heading{/*hackernews heading*/
    margin: auto;
    font-weight: 700;
    align-self: center;
}
.news-flex-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}
.all-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top:3%;
    width: 80%;

}

#list{
    font-weight: 700;
    font-size: 13px;
}

.latest-news{
    background-color: aquamarine;
    width:fit-content;
    height: 50%;
    padding:10px;
    margin: 8px;
    border-radius: 15px;
    text-align: center;
    font-weight: 700;
}

.item-details{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background-color: rgb(206, 62, 10);
    color: white;
    width: 100%;
    height: fit-content;
    font-weight: 300;
    font-size: 13px;
    border-radius: 15px;
}
.item-details>*{
    margin: 5px;
}

.news-story{
    text-decoration: none;
    color: white;
    cursor: pointer;    
}

#story-url{
    text-decoration: none;
    color: white;
    cursor: pointer;    
}
.read-more{
    font-weight: 500;
    font-size:13px;
    cursor: pointer;
}

footer, .foot-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

#socials{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10px;
}

#socials> i{
    margin-right: -8px;
    margin-left: 5px;
}
#linkedinlink, #whatsapp{
    text-decoration: none;
    color: green;
    margin: 10px;
}

/* media queries */

@media screen and (max-width: 650px){
    .hamburger{
        display: flex;
    }

    .large-screen{
        display: none;
    }

    .mobile-screen{
        display: flex;
    }
}